.collapsebox {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.25);

    margin-block-start: 0.25rem;
    margin-block-end: 1rem;
}

.collapsebox summary {
    cursor: pointer;
    outline: none;
    display: list-item;

    user-select: none;
}

.collapsebox summary:hover {
    color: yellow;
}

.collapsebox summary::-webkit-details-marker {
    display: none;
}

.collapsebox summary::after {
    content: "";
}

.collapsebox[open] > summary::after {
    content: '';
}

.summary {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.anchor {
    float: right;
}

.content {
    border-top: 2px solid white;
    display: flow-root;
    padding-left: min(2rem, 5vw);
    padding-right: min(2rem, 5vw);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* clean up margins of first and last child elements */
.content > *:first-child {
    margin-block-start: 0;
}

.content > *:last-child {
    margin-block-end: 0;
}

.clicktoexpand {
    font-size: 1rem;
    color: #aaa;
}
