.wikiNoShadow {
    text-shadow: 0px 0px
}

.detailHeader:hover > * {
    color: yellow
}

.syntaxObject {
    color: #FF6699;
}

.syntaxMethod {
    color: #D2A8FF;
}

.syntaxField {
    color: #79C0FF;
}

.syntaxUndocumented {
    color: indianred;
}

.syntax {
    color: gray;
}

.syntaxSymbol {
    color: lightgray;
}

.syntaxType {
    color: #4EC9B0;
}

.syntaxTypeMod {
    color: pink;
    cursor: help;
}

.syntaxString {
    color: lightgreen;
    cursor: help;
}

.classHeirarchy {
    font-weight: var(--font-weight-bold);
    margin-block-end: 2rem;
}

.classHeirarchy a {
    color: lightgray;
    text-decoration: none;
}

.pageTitle {
    margin-block-end: 0;
}

.tableName {
    color: lightgray;
    padding-block-end: 0.5rem;
}

.tableDescription p {
    color: lightgray;
    margin-block-end: 0;
}


.argumentTable th {
    color: white;
}

.argumentTable th, .argumentTable td {
    text-align: center;
}

.argumentTable th:last-child, .argumentTable td:last-child {
    text-align: left;
}
